.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.b-1 {
  border: 1px solid black;
}

.jobGrid {
  border-radius: 9px;
  border: 1px solid black;
}

.jobLogo {
  width: 45%;
  height: 45%;
  margin-bottom: 20%;
}

/* font-size: calc(10px + 2vmin); */
