.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.b-1 {
  border: 1px solid black;
}

/* font-size: calc(10px + 2vmin); */
