* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Trueno";
  src: local("Trueno"), url(./fonts/truenorg.otf) format("otf");
}

body {
  margin: 0;
  font-family: "Trueno";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content-bg {
  background-color: #f8f8f8;
}

h3,
h4 {
  font-weight: 500;
}
