# Ignore Mac system files
DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

package-lock.json
client/package-lock.json
server/package-lock.json

yarn.lock
client/mockDB/db.json

# Ignored especially by Bligh
icons/
client/package-lock.json
client/package-lock.json
